html body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

$primaryColor : rgb(152, 106, 199);
$secondaryColor: rgb(237, 229, 245);

.rubikMono {
  font-family: 'Rubik Mono One', sans-serif;
}

.rubik600 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.rubik {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}